<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.demo.Dao.CashFlowDataMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.demo.Model.CashFlowData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cf_sales" jdbcType="DOUBLE" property="cfSales" />
    <result column="rateofreturn" jdbcType="DOUBLE" property="rateofreturn" />
    <result column="cf_nm" jdbcType="DOUBLE" property="cfNm" />
    <result column="cf_liabilities" jdbcType="DOUBLE" property="cfLiabilities" />
    <result column="cashflowratio" jdbcType="DOUBLE" property="cashflowratio" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, cf_sales, rateofreturn, cf_nm, cf_liabilities, cashflowratio
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cashflow_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cashflow_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.tongji.demo.Model.CashFlowData">
    insert into cashflow_data (id, code, name, 
      cf_sales, rateofreturn, cf_nm, 
      cf_liabilities, cashflowratio)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{cfSales,jdbcType=DOUBLE}, #{rateofreturn,jdbcType=DOUBLE}, #{cfNm,jdbcType=DOUBLE}, 
      #{cfLiabilities,jdbcType=DOUBLE}, #{cashflowratio,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="edu.tongji.demo.Model.CashFlowData">
    insert into cashflow_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="cfSales != null">
        cf_sales,
      </if>
      <if test="rateofreturn != null">
        rateofreturn,
      </if>
      <if test="cfNm != null">
        cf_nm,
      </if>
      <if test="cfLiabilities != null">
        cf_liabilities,
      </if>
      <if test="cashflowratio != null">
        cashflowratio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cfSales != null">
        #{cfSales,jdbcType=DOUBLE},
      </if>
      <if test="rateofreturn != null">
        #{rateofreturn,jdbcType=DOUBLE},
      </if>
      <if test="cfNm != null">
        #{cfNm,jdbcType=DOUBLE},
      </if>
      <if test="cfLiabilities != null">
        #{cfLiabilities,jdbcType=DOUBLE},
      </if>
      <if test="cashflowratio != null">
        #{cashflowratio,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.tongji.demo.Model.CashFlowData">
    update cashflow_data
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cfSales != null">
        cf_sales = #{cfSales,jdbcType=DOUBLE},
      </if>
      <if test="rateofreturn != null">
        rateofreturn = #{rateofreturn,jdbcType=DOUBLE},
      </if>
      <if test="cfNm != null">
        cf_nm = #{cfNm,jdbcType=DOUBLE},
      </if>
      <if test="cfLiabilities != null">
        cf_liabilities = #{cfLiabilities,jdbcType=DOUBLE},
      </if>
      <if test="cashflowratio != null">
        cashflowratio = #{cashflowratio,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.tongji.demo.Model.CashFlowData">
    update cashflow_data
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cf_sales = #{cfSales,jdbcType=DOUBLE},
      rateofreturn = #{rateofreturn,jdbcType=DOUBLE},
      cf_nm = #{cfNm,jdbcType=DOUBLE},
      cf_liabilities = #{cfLiabilities,jdbcType=DOUBLE},
      cashflowratio = #{cashflowratio,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>