<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.demo.Dao.GrowthDataMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.demo.Model.GrowthData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mbrg" jdbcType="DOUBLE" property="mbrg" />
    <result column="nprg" jdbcType="DOUBLE" property="nprg" />
    <result column="nav" jdbcType="DOUBLE" property="nav" />
    <result column="targ" jdbcType="DOUBLE" property="targ" />
    <result column="epsg" jdbcType="DOUBLE" property="epsg" />
    <result column="seg" jdbcType="DOUBLE" property="seg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, mbrg, nprg, nav, targ, epsg, seg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from growth_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from growth_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.tongji.demo.Model.GrowthData">
    insert into growth_data (id, code, name, 
      mbrg, nprg, nav, targ, 
      epsg, seg)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{mbrg,jdbcType=DOUBLE}, #{nprg,jdbcType=DOUBLE}, #{nav,jdbcType=DOUBLE}, #{targ,jdbcType=DOUBLE}, 
      #{epsg,jdbcType=DOUBLE}, #{seg,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="edu.tongji.demo.Model.GrowthData">
    insert into growth_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mbrg != null">
        mbrg,
      </if>
      <if test="nprg != null">
        nprg,
      </if>
      <if test="nav != null">
        nav,
      </if>
      <if test="targ != null">
        targ,
      </if>
      <if test="epsg != null">
        epsg,
      </if>
      <if test="seg != null">
        seg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mbrg != null">
        #{mbrg,jdbcType=DOUBLE},
      </if>
      <if test="nprg != null">
        #{nprg,jdbcType=DOUBLE},
      </if>
      <if test="nav != null">
        #{nav,jdbcType=DOUBLE},
      </if>
      <if test="targ != null">
        #{targ,jdbcType=DOUBLE},
      </if>
      <if test="epsg != null">
        #{epsg,jdbcType=DOUBLE},
      </if>
      <if test="seg != null">
        #{seg,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.tongji.demo.Model.GrowthData">
    update growth_data
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mbrg != null">
        mbrg = #{mbrg,jdbcType=DOUBLE},
      </if>
      <if test="nprg != null">
        nprg = #{nprg,jdbcType=DOUBLE},
      </if>
      <if test="nav != null">
        nav = #{nav,jdbcType=DOUBLE},
      </if>
      <if test="targ != null">
        targ = #{targ,jdbcType=DOUBLE},
      </if>
      <if test="epsg != null">
        epsg = #{epsg,jdbcType=DOUBLE},
      </if>
      <if test="seg != null">
        seg = #{seg,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.tongji.demo.Model.GrowthData">
    update growth_data
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      mbrg = #{mbrg,jdbcType=DOUBLE},
      nprg = #{nprg,jdbcType=DOUBLE},
      nav = #{nav,jdbcType=DOUBLE},
      targ = #{targ,jdbcType=DOUBLE},
      epsg = #{epsg,jdbcType=DOUBLE},
      seg = #{seg,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>