<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.demo.Dao.WarehouseDataDaysMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.demo.Model.WarehouseDataDays">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="trading_day" jdbcType="TIMESTAMP" property="tradingDay" />
    <result column="open_value" jdbcType="DOUBLE" property="openValue" />
    <result column="close_value" jdbcType="DOUBLE" property="closeValue" />
    <result column="high_value" jdbcType="DOUBLE" property="highValue" />
    <result column="low_value" jdbcType="DOUBLE" property="lowValue" />
    <result column="volume_value" jdbcType="DOUBLE" property="volumeValue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, trading_day, open_value, close_value, high_value, low_value, volume_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warehouse_data_days
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warehouse_data_days
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.tongji.demo.Model.WarehouseDataDays">
    insert into warehouse_data_days (id, code, trading_day, 
      open_value, close_value, high_value, 
      low_value, volume_value)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{tradingDay,jdbcType=TIMESTAMP}, 
      #{openValue,jdbcType=DOUBLE}, #{closeValue,jdbcType=DOUBLE}, #{highValue,jdbcType=DOUBLE}, 
      #{lowValue,jdbcType=DOUBLE}, #{volumeValue,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="edu.tongji.demo.Model.WarehouseDataDays">
    insert into warehouse_data_days
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="tradingDay != null">
        trading_day,
      </if>
      <if test="openValue != null">
        open_value,
      </if>
      <if test="closeValue != null">
        close_value,
      </if>
      <if test="highValue != null">
        high_value,
      </if>
      <if test="lowValue != null">
        low_value,
      </if>
      <if test="volumeValue != null">
        volume_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="tradingDay != null">
        #{tradingDay,jdbcType=TIMESTAMP},
      </if>
      <if test="openValue != null">
        #{openValue,jdbcType=DOUBLE},
      </if>
      <if test="closeValue != null">
        #{closeValue,jdbcType=DOUBLE},
      </if>
      <if test="highValue != null">
        #{highValue,jdbcType=DOUBLE},
      </if>
      <if test="lowValue != null">
        #{lowValue,jdbcType=DOUBLE},
      </if>
      <if test="volumeValue != null">
        #{volumeValue,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.tongji.demo.Model.WarehouseDataDays">
    update warehouse_data_days
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="tradingDay != null">
        trading_day = #{tradingDay,jdbcType=TIMESTAMP},
      </if>
      <if test="openValue != null">
        open_value = #{openValue,jdbcType=DOUBLE},
      </if>
      <if test="closeValue != null">
        close_value = #{closeValue,jdbcType=DOUBLE},
      </if>
      <if test="highValue != null">
        high_value = #{highValue,jdbcType=DOUBLE},
      </if>
      <if test="lowValue != null">
        low_value = #{lowValue,jdbcType=DOUBLE},
      </if>
      <if test="volumeValue != null">
        volume_value = #{volumeValue,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.tongji.demo.Model.WarehouseDataDays">
    update warehouse_data_days
    set code = #{code,jdbcType=VARCHAR},
      trading_day = #{tradingDay,jdbcType=TIMESTAMP},
      open_value = #{openValue,jdbcType=DOUBLE},
      close_value = #{closeValue,jdbcType=DOUBLE},
      high_value = #{highValue,jdbcType=DOUBLE},
      low_value = #{lowValue,jdbcType=DOUBLE},
      volume_value = #{volumeValue,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>