<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <!-- jQuery-->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>

    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style_cc.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style_foxer.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/buttons.css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kappe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Untitled Document</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/echarts.js"></script>
</head>
<body>
<div class="header" ng-app="myApp" ng-controller="siteCtrl">
    <div class="header-left-detail">
        <div class="logo" >
            <a ng-click="check_out()">登出</a>
                <!--<button class="button button-primary button-circle button-giant button-longshadow" ng-click="check_out()" ><i class="fa fa-reply"></i></button>-->
        </div>
        <div class="top-nav">
            <ul >
                <li><b class="white"></b></li>

                <li ><a href="index_data2.html" >大数据展示</a ></li>
                <li><a href="news.html" class="black" > 新闻资讯</a ></li>
                <li><a href="ranking.html" class="black1"> 龙虎榜</a ></li>
                <li><a href="fundamentals.html" class="black1"> 基本面数据</a ></li>
                <li><a href="work.html" class="black2" > 个人主页</a ></li>
                <li>

                </li>

                <div class="your-top">
                    <form method="get" id="search_form" onkeypress="form_query()" action="/detail.html">
                        <div class="cf">
                            <label class="search-bar">
                                <input id="keyword" placeholder="请输入股票代码" name="code" type="text" value="" class="input-search" >
                                <a id="search" class="btn-search">
                                    <i class="icon-search"></i>
                                </a>
                                <a href="javascript:;" class="btn-more"></a>
                            </label>
                        </div>
                    </form>

                    <div class="clear"> </div>
                </div>

            </ul>
        </div>
    </div>
    <!---->
    <div class="content" >
        <div class="work">
            <div class="heat-map-title">&nbsp;&nbsp;&nbsp;{{stockname.name}}({{code}})&nbsp;&nbsp;
                <button class="button-borderless" id="predict">{{predict}}&nbsp;&nbsp;</button>
                <button class="button button-raised button-action button-circle button-jumbo" style="background: rgb(51,58,62);border-color:rgb(51,58,62)"><i class="fa fa-thumbs-up" ng-click="display(code)" ></i></button>

            </div>
            <div class="work-top">
                <div class="test">
                    <!-- <div class="price_time">
                        <div class="price clearfix" id="trading">
                            <div class="change">
                                <div id="change" class="@UD_change@">@change@</div>
                                <div id="changeP" class="@UD_change@">@changeP@</div>
                            </div>
                            <div id="arrow" class="arrow arrow_@UD_change@"></div>
                            <div id="price" class="@UD_change@">@now@</div>
                            <div class="ud_limit" id="ud_limie">
                                <div>涨停：@up_limit@</div>
                                <div>跌停：@down_limit@</div>
                            </div>
                        </div>
                    </div>-->
                    <div class="test-top">
                        <div class="blog-in">
                            <h5 id="miaomiao" scope="col" style="vertical-align:middle; text-align:center;">当前价：{{datarealtime.close_value}}</h5>
                            <!--<p>涨停：@up_limit@&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;跌停：@down_limit@</p>-->

                        </div>
                        <style>
                            .stupid{margin: 1% 2%}
                        </style>
                        <div class="stupid">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">涨停：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center; color: #bd362f">{{datarealtime.close_value*1.1}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">跌停：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center; color: #46a546">{{datarealtime.close_value*0.9}}</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">今开：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.open_value}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">昨收：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.settlement}}</td>
                                </tr>
                                <tr>

                                    <td scope="col" style="vertical-align:middle; text-align:center;">最高：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.high_value}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">最低：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.low_value}}</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">涨跌幅：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.p_change}}</td>

                                    <td scope="col" style="vertical-align:middle; text-align:center;">换手率：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.turnoverratio}}</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">成交额：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.volume_value}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">成交量：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.amount}}</td>

                                </tr>
                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">市净率：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.pb}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">市盈率<sup>TTM</sup>：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.per}}</td>
                                </tr>
                                <tr>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">流通市值：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.nmc}}</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">总市值：</td>
                                    <td scope="col" style="vertical-align:middle; text-align:center;">{{datarealtime.mktcap}}</td>

                                </tr>
                                </tbody>
                            </table>

                            <br/>
                        </div>
                    </div>
                </div>


                <style>
                    .l-center{
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                    }
                </style>
                <div id="select_k1" class="showcase-examples l-center">
                    <input type="submit" value="日K" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_Day_K()" id="day_k">
                    <input type="submit" value="周K" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_Week_K()" id="week_k">
                    <input type="submit" value="月K" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_Month_K()" id="month_k">
                    <!--<button class="button button-pill button-primary">Go</button>-->
                </div>
                <style>
                    .guding{text-align:center;}
                    #main{display:inline-block;}
                </style>
                <div class="guding">
                    <div id="main" style="top:2%;left:2%;width:470px;height:310px;" ></div>
                </div>

            </div>
            <div class="work-in">

                <div class="test">
                    <div class="test-in">

                        <h4 class="author" >&nbsp;&nbsp;股吧论坛</h4>
                        <div class="clear"> </div>
                    </div>
                    <div class="blog-in">
                        <!--<li  ng-repeat="x in news">-->
                            <div class="stupid" ng-repeat="x in news">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td scope="col" style="vertical-align:middle; text-align:left;padding:2%;">
                                            <a href="{{x.url}}" target="_blank">
                                                {{x.name}}
                                            </a>
                                        </td>
                                        <td scope="col" style="vertical-align:middle; text-align:right;padding:2%;">点击量：{{x.click}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                    </div>
                    <br/>

                    <div class="services">
                        <div class="test-in">
                            <h4 class="author">&nbsp;&nbsp;研究报告</h4>
                            <div class="clear"> </div>
                        </div>

                        <div class="blog-in">
                            <div class="stupid" ng-repeat="y in research">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td scope="col" style="vertical-align:middle; text-align:left;padding:2%;">
                                            <a href="{{y.url}}" target="_blank">
                                                {{y.title}}
                                            </a>
                                        </td>
                                        <td scope="col" style="vertical-align:middle; text-align:right;padding:2%;">{{y.date}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>

</div>

</body>

<script>
    function getQueryStringArgs(){
        var qs = (location.search.length>0?location.search.substring(1):"");
        var args = {};
        var items = qs.length?qs.split("&"):[];
        var item = null;
        var name = null;
        var value = null;
        len = items.length;
        for (var i = 0; i < len; i++) {
            item = items[i].split("=");
            name = decodeURIComponent(item[0]);
            value = decodeURIComponent(item[1]);
            if (name.length) {
                args[name] = value;
            }
        }
        return args;
    }
    var args = getQueryStringArgs();
    var code = args["code"];
    var app = angular.module('myApp', []);
    app.controller('siteCtrl', function($scope, $http) {
        $scope.check_out = function () {
            window.location.href = "login.html";
            $http.get("http://localhost:8080/user/logout");
        };
        $scope.code = code;
        $scope.display = function(tempcode){
            $http.get("http://localhost:8080/profile/stock/add?code="+tempcode)
                .then(function (value) {
                    if (value.data === true)
                        alert("加入自选股成功!");
                    else
                        alert("已加入该自选股！");
                })};
        $http.get("http://localhost:8080/stock/name?code=" + code)
            .then(function (response) {
                if (response.data === 400)
                    window.location.href =  "login.html";
                $scope.stockname = response.data;
            });
        $http.get("http://localhost:8080/news/code?code=" + code)
            .then(function (response) {
                if (response.data === 400)
                    window.location.href =  "login.html";
                $scope.news = response.data;
            });
        $http.get("http://localhost:8080/research/code?code=" + code)
            .then(function (response) {
                if (response.data === 400)
                    window.location.href =  "login.html";
                $scope.research = response.data;
            });
        $http.get("http://localhost:8080/stock/brief?code=" + code)
            .then(function (response) {
                if (response.data === 400)
                    window.location.href =  "login.html";
                var temp2 = angular.fromJson(response.data);
                if (temp2.settlement < temp2.close_value) {
                    document.getElementById("miaomiao").style.color="#bd362f";
                }
                else if (temp2.settlement > temp2.close_value){
                    document.getElementById("miaomiao").style.color="#46a546";
                }
                $scope.datarealtime = response.data;
            });
        // var selectoption = document.getElementById("select_k1").value;
        // var temp = "http://localhost:8080/stock/history/days?code=";
        // if(selectoption === "日K")
        //     temp = "http://localhost:8080/stock/history/days?code=";
        // else if(selectoption === "周K")
        //     temp = "http://localhost:8080/stock/history/weeks?code=";
        // else if(selectoption === "月K")
        //     temp = "http://localhost:8080/stock/history/months?code=";
        $http.get("http://localhost:8080/stock/history/days?code=" + code)
            .then(function (response) {
                document.getElementById("week_k").style.backgroundColor = "#778288";
                document.getElementById("month_k").style.backgroundColor = "#778288";
                document.getElementById("day_k").style.backgroundColor = "#1ab5b3";
                if (response.data === 400)
                    window.location.href =  "login.html";
                //绘图
                DrawData(response);
            });
        $http.get("http://localhost:8080/stock/predict?code=" + code)
            .then(function (value) {
                if(value.data === 400)
                    window.location.href = "index.html";
                var p = value.data;
                if (p === 1){
                    $scope.predict = "涨";
                    document.getElementById("predict").style.color = "#bd362f";
                }else if(p === 2){
                    $scope.predict = "跌";
                    document.getElementById("predict").style.color = "#46a546";
                }
            });

        $scope.Select_Day_K = function () {
            $http.get("http://localhost:8080/stock/history/days?code=" + code)
                .then(function (response) {
                    if (response.data === 400)
                        window.location.href =  "login.html";
                    DrawData(response);
                });
            document.getElementById("week_k").style.backgroundColor = "#778288";
            document.getElementById("month_k").style.backgroundColor = "#778288";
            document.getElementById("day_k").style.backgroundColor = "#1ab5b3";

        };
        $scope.Select_Week_K = function () {
            $http.get("http://localhost:8080/stock/history/weeks?code=" + code)
                .then(function (response) {
                    if (response.data === 400)
                        window.location.href =  "login.html";
                    DrawData(response);
                });
            document.getElementById("day_k").style.backgroundColor = "#778288";
            document.getElementById("month_k").style.backgroundColor = "#778288";
            document.getElementById("week_k").style.backgroundColor = "#1ab5b3";
        };
        $scope.Select_Month_K = function () {
            $http.get("http://localhost:8080/stock/history/months?code=" + code)
                .then(function (response) {
                    if (response.data === 400)
                        window.location.href =  "login.html";
                    DrawData(response);
                });
            document.getElementById("week_k").style.backgroundColor = "#778288";
            document.getElementById("day_k").style.backgroundColor = "#778288";
            document.getElementById("month_k").style.backgroundColor = "#1ab5b3";
        }
    });

    function DrawData(response) {
        var upColor = '#00da3c';
        var downColor = '#ec0000';
        var myChart = echarts.init(document.getElementById('main'));
        var data = splitData(response.data);
        myChart.setOption(option = {
            backgroundColor: '#fff',
            animation: false,
            legend: {
                bottom: 10,
                left: 'center',
                data: ['Dow-Jones index', 'MA5', 'MA10', 'MA20', 'MA30']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
                backgroundColor: 'rgba(245, 245, 245, 0.8)',
                borderWidth: 1,
                borderColor: '#ccc',
                padding: 10,
                textStyle: {
                    color: '#000'
                },
                position: function (pos, params, el, elRect, size) {
                    var obj = {top: 10};
                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                    return obj;
                }
                // extraCssText: 'width: 170px'
            },
            axisPointer: {
                link: {xAxisIndex: 'all'},
                label: {
                    backgroundColor: '#777'
                }
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: false
                    },
                    brush: {
                        type: ['lineX', 'clear']
                    }
                }
            },
            brush: {
                xAxisIndex: 'all',
                brushLink: 'all',
                outOfBrush: {
                    colorAlpha: 0.1
                }
            },
            visualMap: {
                show: false,
                seriesIndex: 5,
                dimension: 2,
                pieces: [{
                    value: 1,
                    color: downColor
                }, {
                    value: -1,
                    color: upColor
                }]
            },
            grid: [
                {
                    left: '10%',
                    right: '8%',
                    height: '50%'
                },
                {
                    left: '10%',
                    right: '8%',
                    top: '63%',
                    height: '16%'
                }
            ],
            xAxis: [
                {
                    type: 'category',
                    data: data.categoryData,
                    scale: true,
                    boundaryGap : false,
                    axisLine: {onZero: false},
                    splitLine: {show: false},
                    splitNumber: 20,
                    min: 'dataMin',
                    max: 'dataMax',
                    axisPointer: {
                        z: 100
                    }
                },
                {
                    type: 'category',
                    gridIndex: 1,
                    data: data.categoryData,
                    scale: true,
                    boundaryGap : false,
                    axisLine: {onZero: false},
                    axisTick: {show: false},
                    splitLine: {show: false},
                    axisLabel: {show: false},
                    splitNumber: 20,
                    min: 'dataMin',
                    max: 'dataMax'
                }
            ],
            yAxis: [
                {
                    scale: true,
                    splitArea: {
                        show: true
                    }
                },
                {
                    scale: true,
                    gridIndex: 1,
                    splitNumber: 2,
                    axisLabel: {show: false},
                    axisLine: {show: false},
                    axisTick: {show: false},
                    splitLine: {show: false}
                }
            ],
            dataZoom: [
                {
                    type: 'inside',
                    xAxisIndex: [0, 1],
                    start: 98,
                    end: 100
                },
                {
                    show: true,
                    xAxisIndex: [0, 1],
                    type: 'slider',
                    top: '85%',
                    start: 98,
                    end: 100
                }
            ],
            series: [
                {
                    name: 'Dow-Jones index',
                    type: 'candlestick',
                    data: data.values,
                    itemStyle: {
                        normal: {
                            color: upColor,
                            color0: downColor,
                            borderColor: null,
                            borderColor0: null
                        }
                    },
                    tooltip: {
                        formatter: function (param) {
                            param = param[0];
                            return [
                                'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                                'Open: ' + param.data[0] + '<br/>',
                                'Close: ' + param.data[1] + '<br/>',
                                'Lowest: ' + param.data[2] + '<br/>',
                                'Highest: ' + param.data[3] + '<br/>'
                            ].join('');
                        }
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(5, data),
                    smooth: true,
                    lineStyle: {
                        normal: {opacity: 0.5}
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: calculateMA(10, data),
                    smooth: true,
                    lineStyle: {
                        normal: {opacity: 0.5}
                    }
                },
                {
                    name: 'MA20',
                    type: 'line',
                    data: calculateMA(20, data),
                    smooth: true,
                    lineStyle: {
                        normal: {opacity: 0.5}
                    }
                },
                {
                    name: 'MA30',
                    type: 'line',
                    data: calculateMA(30, data),
                    smooth: true,
                    lineStyle: {
                        normal: {opacity: 0.5}
                    }
                },
                {
                    name: 'Volume',
                    type: 'bar',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    data: data.volumes
                }
            ]
        }, true);
        myChart.dispatchAction({
            type: 'brush',
            areas: [
                {
                    brushType: 'lineX',
                    coordRange: ['2016-06-02', '2016-06-20'],
                    xAxisIndex: 0
                }
            ]
        });
    }

    function splitData(rawData) {
        var categoryData = [];
        var values = [];
        var volumes = [];
        for (var i = 0; i < rawData.length; i++) {
            categoryData.push(rawData[i].splice(0, 1)[0]);
            values.push(rawData[i]);
            volumes.push([i, rawData[i][4], rawData[i][0] > rawData[i][1] ? 1 : -1]);
        }
        return {
            categoryData: categoryData,
            values: values,
            volumes: volumes
        };
    }
    function calculateMA(dayCount, data) {
        var result = [];
        for (var i = 0, len = data.values.length; i < len; i++) {
            if (i < dayCount) {
                result.push('-');
                continue;
            }
            var sum = 0;
            for (var j = 0; j < dayCount; j++) {
                sum += data.values[i - j][1];
            }
            result.push(+(sum / dayCount).toFixed(3));
        }
        return result;
    }
</script>
</html>
