<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
    <!-- jQuery-->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular.js"></script>


    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style_cc.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style_foxer.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/buttons.css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kappe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
</head>
<body>
<div class="header" ng-app="myApp" ng-controller="siteCtrl">
    <div class="header-left">
        <div class="logo">
            <a ng-click="check_out()">登出</a>
        </div>
        <div class="top-nav">
            <ul >
                <li><b class="white"></b></li>

                <li ><a href="index_data2.html" >大数据展示</a ></li>
                <li><a href="news.html" class="black" > 新闻资讯</a ></li>
                <li><a href="ranking.html" class="black1"> 龙虎榜</a ></li>
                <li><a href="fundamentals.html" class="black1"> 基本面数据</a ></li>
                <li><a href="work.html" class="black2" > 个人主页</a ></li>
                <li>

                </li>

                <div class="your-top">
                    <form method="get" id="search_form" onkeypress="form_query()" action="/detail.html">
                        <div class="cf">
                            <label class="search-bar">
                                <input id="keyword" placeholder="请输入股票代码" name="code" type="text" value="" class="input-search" >
                                <a id="search" class="btn-search">
                                    <i class="icon-search"></i>
                                </a>
                                <a href="javascript:;" class="btn-more"></a>
                            </label>
                        </div>
                    </form>

                    <div class="clear"> </div>
                </div>

            </ul>
        </div>
    </div>
    <!---->


    <div class="content" ng-app="myApp" ng-controller="siteCtrl">
        <div class="work" >
            <p class="heat-map-title" >&nbsp;&nbsp;&nbsp;基本面数据</p>
            <br />

            <style>
                .l-center{
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 1% 1%;
                }
            </style>
            <div id="select_k1" class="showcase-examples l-center">
                <input type="submit" value="盈利能力" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_profit()" id="profit">
                <input type="submit" value="营运能力" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_operation()" id="operation">
                <input type="submit" value="成长能力" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_growth()" id="growth">
                <input type="submit" value="偿债能力" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_debtpaying()" id="debtpaying">
                <input type="submit" value="现金流量" class="button button-pill button-primary" style="background-color: #1ab5b3;" ng-click="Select_cashflow()" id="cashflow">
                <!--<button class="button button-pill button-primary">Go</button>-->
            </div>


            <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                <tr>
                    <td scope="col" style="vertical-align:middle; text-align:center;" >标题</td>
                    <td scope="col" style="vertical-align:middle; text-align:center;" >发布日期</td>
                    <td scope="col" style="vertical-align:middle; text-align:center;" >研究者</td>
                    <td scope="col" style="vertical-align:middle; text-align:center;" >研究机构</td>
                    <td scope="col" style="vertical-align:middle; text-align:center;" >详情</td>

                </tr>
                <tr ng-repeat="x in data">

                    <td style="vertical-align:middle; text-align:center;">{{x[1]}}</td>
                    <td style="vertical-align:middle; text-align:center;">{{x[1]}}</td>
                    <td style="vertical-align:middle; text-align:center;">{{x[2]}}</td>
                    <td style="vertical-align:middle; text-align:center;">{{x[3]}}</td>
                    <!--<td style="vertical-align:middle; text-align:center;"><a  href="{{x.url}}" target="_blank">🔎</a></td>-->

                </tr>


                <script>
                    var app = angular.module('myApp', []);
                    app.controller('siteCtrl', function($scope, $http) {
                        $http.get("http://localhost:8080/special/profit")
                            .then(function (response) {
                                if (response === 400)
                                    window.location.href =  "login.html";
                                var data = response.data;
                                $scope.data = response.data;
                            });
                        $scope.check_out = function () {
                            window.location.href =  "login.html";
                        }
                    });

                </script>

            </table>
            <!-- 分页 end --
        <!-- end main -->
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>
</body>
</html>
<script>

</script>