<html>
<head>
    <title>Home</title>
    <!-- jQuery-->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>

    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style_cc.css" rel="stylesheet" type="text/css" media="all" />
    <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kappe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <!--//fonts-->

</head>
<body>
<div class="header" ng-app="myApp" ng-controller="siteCtrl">
    <!---->
    <div class="header-left">
        <div class="logo">
            <a ng-click="check_out()">登出</a>
        </div>
        <div class="top-nav">
            <ul >
                <li><b class="white"></b></li>

                <li ><a href="index_data2.html" >大数据展示</a ></li>
                <li><a href="news.html" class="black" > 新闻资讯</a ></li>
                <li><a href="ranking.html" class="black1"> 龙虎榜</a ></li>
                <li><a href="fundamentals.html" class="black1"> 基本面数据</a ></li>
                <li><a href="work.html" class="black2" > 个人主页</a ></li>
                <li>

                </li>

                <div class="your-top">
                    <form method="get" id="search_form" onkeypress="form_query()" action="/detail.html">
                        <div class="cf">
                            <label class="search-bar">
                                <input id="keyword" placeholder="请输入股票代码" name="code" type="text" value="" class="input-search" >
                                <a id="search" class="btn-search">
                                    <i class="icon-search"></i>
                                </a>
                                <a href="javascript:;" class="btn-more"></a>
                            </label>
                        </div>
                    </form>

                    <div class="clear"> </div>
                </div>

            </ul>
        </div>
    </div>
    <!---->
    <!---->

    <!---->
    <p class="content">

    <p class="heat-map-title" >&nbsp;&nbsp;&nbsp;A股行业<span class="heat-map-title2">按成交额从前到后排列</span></p>

    <div ng-repeat="n in industry" ng-click="display(n.name)" id="{{n.name}}" class="content-grid">
        <a class="b-link-stripe b-animate-go  thickbox">
            <div class={{n.style}}>{{n.name}}</div>
            <div class="b-wrapper">
                <h2 class="b-animate b-from-left    b-delay03 ">
                    <span>总成交额：{{n.turnover_p}}</span>
                    <span>行业涨跌额：{{n.price}}</span>
                    <span>行业涨跌幅：{{n.price_range}}</span>
                </h2>
            </div>
        </a>
    </div>

    <div class="content-grid">
        <a class="b-link-stripe b-animate-go  thickbox">
            <div class="cc10">
                none
            </div>

        </a>
    </div>
    <div>
        <ul>
            <li class="insert">&nbsp;&nbsp;&nbsp;</li>
            <li class="insert">&nbsp;&nbsp;&nbsp;</li>
            <li class="insert">&nbsp;&nbsp;&nbsp;</li>
        </ul>
        <p id="individual" class="heat-map-title" >&nbsp;&nbsp;&nbsp;化工行业个股<span class="heat-map-title2">按成交额从前到后排列</span></p>
        <div ng-repeat="m in single"  class="content-grid" >
            <a class="b-link-stripe b-animate-go  thickbox">
                <div id={{m.name}} class={{m.style}} ng-click="goto(m.code)">{{m.name}}</div>
            </a>
        </div>


    </div>

</div>

</body>
</html>
<script type="text/javascript">
    //alert("hello");
    var app = angular.module('myApp', []);
    var pr='';
    var temp_range='';
    var float_range;





    app.controller('siteCtrl', function($scope, $http) {
        //$scope.goto=function (msg) {

        //location.href = 'single.html?msg=' + angular.toJson(msg);
        //};
        $http.get("http://localhost:8080/stock/all")
            .then(function (response) {
                if (response.data === 404)
                    window.location.href = "400.html";
                else if (response.data === 400)
                    window.location.href = "login.html";
                else{
                    var temp = angular.fromJson(response.data);
                    $scope.industry = [
                        {name: " ", turnover_p: 0, price: 0, price_range: 0, style: "cc6"}
                    ];

                    for (var i = 0; i < 49; i++) {
                        pr = String(temp[i].priceRange);
                        temp_range = pr.substring(0, pr.length - 1);
                        // alert();
                        // for(var j=pr.length -1;j>0;j--){
                        //     if(pr[i]==='%'){
                        //         index=i;
                        //     }
                        // }
                        // for(j=0;j<index;j++){
                        //     temp_range=temp_range+pr[j];
                        // // }
                        //alert(temp_range)
                        float_range = parseFloat(temp_range);
                        temp_range = "";

                        if (i === 0) {
                            $scope.industry.splice(0, 1);
                        }
                        if (float_range >= 1.6) {
                            $scope.industry.splice(i, 0, {
                                name: temp[i].name,
                                turnover_p: temp[i].turnoverP,
                                price: temp[i].price,
                                price_range: temp[i].priceRange,
                                style: "cc1"
                            });
                        }
                        else if (1.0 <= float_range) {
                            $scope.industry.splice(i, 0, {
                                name: temp[i].name,
                                turnover_p: temp[i].turnoverP,
                                price: temp[i].price,
                                price_range: temp[i].priceRange,
                                style: "cc2"
                            });
                        }
                        else if (0.3 <= float_range) {

                            $scope.industry.splice(i, 0, {
                                name: temp[i].name,
                                turnover_p: temp[i].turnoverP,
                                price: temp[i].price,
                                price_range: temp[i].priceRange,
                                style: "cc3"
                            });
                        }
                        else if (0.0 < float_range) {
                            $scope.industry.splice(i, 0, {
                                name: temp[i].name,
                                turnover_p: temp[i].turnoverP,
                                price: temp[i].price,
                                price_range: temp[i].priceRange,
                                style: "cc4"
                            });
                        }
                        else if (float_range >= -0.3) {
                            $scope.industry.splice(i, 0, {
                                name: temp[i].name,
                                turnover_p: temp[i].turnoverP,
                                price: temp[i].price,
                                price_range: temp[i].priceRange,
                                style: "cc9"
                            });
                        }
                        else if (-1.0 <= float_range) {
                            $scope.industry.splice(i, 0, {
                                name: temp[i].name,
                                turnover_p: temp[i].turnoverP,
                                price: temp[i].price,
                                price_range: temp[i].priceRange,
                                style: "cc8"
                            });
                        }
                        else if (-1.5 <= float_range) {
                            $scope.industry.splice(i, 0, {
                                name: temp[i].name,
                                turnover_p: temp[i].turnoverP,
                                price: temp[i].price,
                                price_range: temp[i].priceRange,
                                style: "cc7"
                            });
                        }
                        else {
                            $scope.industry.splice(i, 0, {
                                name: temp[i].name,
                                turnover_p: temp[i].turnoverP,
                                price: temp[i].price,
                                price_range: temp[i].priceRange,
                                style: "cc6"
                            });

                        }
                        var singleName = String(temp[i].name);
                    }
                }


                $http.get("http://localhost:8080/stock/industry?name="+"化工行业")
                    .then(function (response) {
                       var temp2 = angular.fromJson(response.data);
                        $scope.single = [
                             {code:" ",name: " ", style: "cc6"}
                         ];


                         for (var i = 0; i < 50; i++) {
                             pr = String(temp2[i].p_change);
                             temp_range = pr.substring(0, pr.length - 1);
                             // alert();
                             // for(var j=pr.length -1;j>0;j--){
                             //     if(pr[i]==='%'){
                            //         index=i;
                             //     }
                             // }
                             // for(j=0;j<index;j++){
                             //     temp_range=temp_range+pr[j];
                             // // }
                             //alert(temp_range)
                             float_range = parseFloat(temp_range);
                             temp_range = "";

                             if (i === 0) {
                                 $scope.single.splice(0, 1);
                             }
                             if (float_range >= 1.5) {
                                 $scope.single.splice(i, 0, {
                                     code: temp2[i].code,
                                     name: temp2[i].name,
                                     style: "cc1"
                                 });
                             }
                             else if (1.0 <= float_range) {
                                 $scope.single.splice(i, 0, {
                                     code: temp2[i].code,
                                     name: temp2[i].name,
                                     style: "cc2"
                                 });
                             }
                             else if (0.5 <= float_range) {

                                 $scope.single.splice(i, 0, {
                                     code: temp2[i].code,
                                     name: temp2[i].name,
                                     style: "cc3"
                                 });
                             }
                             else if (0.0 <= float_range) {
                                 $scope.single.splice(i, 0, {
                                     code: temp2[i].code,
                                     name: temp2[i].name,
                                     style: "cc4"
                                 });
                             }
                             else if (-0.5 <= float_range) {
                                 $scope.single.splice(i, 0, {
                                     code: temp2[i].code,
                                     name: temp2[i].name,
                                     style: "cc9"
                                 });
                             }
                             else if (-1.0 <= float_range) {
                                 $scope.single.splice(i, 0, {
                                     code: temp2[i].code,
                                     name: temp2[i].name,
                                     style: "cc8"
                                 });
                             }
                             else if (-1.5 <= float_range) {
                                 $scope.single.splice(i, 0, {
                                     code: temp2[i].code,
                                     name: temp2[i].name,
                                     style: "cc7"
                                 });
                             }
                             else {
                                 $scope.single.splice(i, 0, {
                                     code: temp2[i].code,
                                     name: temp2[i].name,
                                     style: "cc6"
                                 });

                             }
                         }

                     });



                $scope.display = function(singleName){
                    //alert(singleName);
                    y=document.getElementById("individual");
                    y.innerHTML="&nbsp;&nbsp;&nbsp;"+singleName+"个股"+"<span class=\"heat-map-title2\">按成交额从前到后排列</span>";
                    $http.get("http://localhost:8080/stock/industry?name="+singleName)
                        .then(function (response) {
                            if (response.data === 404)
                                window.location.href = "400.html";
                            else if(response.data === 400)
                                window.location.href = "login.html";
                            else{
                                var temp2 = angular.fromJson(response.data);
                                $scope.single = [
                                    {code:" ",name: " ", style: "cc6"}
                                ];
                                //alert(temp2.length);
                                if(temp2.length>50){
                                    myLen=50;
                                }
                                else{
                                    myLen=temp2.length;
                                }
                                for (var i = 0; i < myLen; i++) {
                                    pr = String(temp2[i].p_change);
                                    temp_range = pr.substring(0, pr.length - 1);
                                    // alert();
                                    // for(var j=pr.length -1;j>0;j--){
                                    //     if(pr[i]==='%'){
                                    //         index=i;
                                    //     }
                                    // }
                                    // for(j=0;j<index;j++){
                                    //     temp_range=temp_range+pr[j];
                                    // // }
                                    //alert(temp_range)
                                    float_range = parseFloat(temp_range);
                                    temp_range = "";

                                    if (i === 0) {
                                        $scope.single.splice(0, 1);
                                    }
                                    if (float_range >= 1.5) {
                                        $scope.single.splice(i, 0, {
                                            code: temp2[i].code,
                                            name: temp2[i].name,
                                            style: "cc1"
                                        });
                                    }
                                    else if (1.0 <= float_range) {
                                        $scope.single.splice(i, 0, {
                                            code: temp2[i].code,
                                            name: temp2[i].name,
                                            style: "cc2"
                                        });
                                    }
                                    else if (0.5 <= float_range) {

                                        $scope.single.splice(i, 0, {
                                            code: temp2[i].code,
                                            name: temp2[i].name,
                                            style: "cc3"
                                        });
                                    }
                                    else if (0.0 <= float_range) {
                                        $scope.single.splice(i, 0, {
                                            code: temp2[i].code,
                                            name: temp2[i].name,
                                            style: "cc4"
                                        });
                                    }
                                    else if (-0.5 <= float_range) {
                                        $scope.single.splice(i, 0, {
                                            code: temp2[i].code,
                                            name: temp2[i].name,
                                            style: "cc9"
                                        });
                                    }
                                    else if (-1.0 <= float_range) {
                                        $scope.single.splice(i, 0, {
                                            code: temp2[i].code,
                                            name: temp2[i].name,
                                            style: "cc8"
                                        });
                                    }
                                    else if (-1.5 <= float_range) {
                                        $scope.single.splice(i, 0, {
                                            code: temp2[i].code,
                                            name: temp2[i].name,
                                            style: "cc7"
                                        });
                                    }
                                    else {
                                        $scope.single.splice(i, 0, {
                                            code: temp2[i].code,
                                            name: temp2[i].name,
                                            style: "cc6"
                                        });

                                    }
                                }
                            }
                        });
                };

                $scope.check_out = function () {
                    window.location.href="/login.html";
                    $http.get("http://localhost:8080/user/logout");

                };
                $scope.goto = function (stockCode) {
                    window.location.href = "detail.html?code=" + stockCode;
                }
            });

    });


</script>
